body {
  background-color: #313744;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
#Fullstacks-Logo {
  margin-top: 3em;
  max-width: 100%;
}
#Date-Text {
  font-size: 2em;
  font-family: "Rajdhani-Bold";
  font-weight: 700;
  color: white;
  margin-bottom: 1.3em;
}
.Winner-Box {
  display: flex;
  align-items: center;
}
.Winner-Rank {
  font-family: "Rajdhani-Bold";
  font-weight: 700;
  color: #d4dded1a;
  font-size: 4rem;
}
.Winner-Avatar {
  border-radius: 200px;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.User-Data {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.User-Name {
  font-family: "Rajdhani-Light";
  font-weight: 400;
  color: #f8f9fb;
  font-size: 1.2rem;
}
.User-Id {
  font-family: "Rajdhani-Bold";
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}
.User-Chart {
  display: flex;
}
