:root {
  --tint-1: #d4dded;
  --fg-0: #e6e6e6;
  --fg-1: #b3b3b3;
  --primary: #f39f47;
  --bg: #23252e;
  --fg-muted: rgb(255 255 255 / 20%);
}

body {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Rajdhani, serif;
}

.container {
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fullstacks-logo {
  width: 400px;
  height: 180px;
}

.title {
  width: 384px;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: var(--fg-0);
}

.date {
  font-weight: 700;
  font-size: 37px;
  color: var(--primary);
}

.winners {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
}

.winner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  align-items: center;
  border-radius: 10px;
  width: 230px;
  border: 1px solid;
  border-color: #60657dcb;
  flex-grow: 0;
}

.winner:nth-child(1) {
  background: linear-gradient(150.88deg, #bd946e 2.22%, rgb(77 54 54/ 37%) 94.37%);
}

.winner:nth-child(2) {
  width: 280px;
  background: linear-gradient(
    157.76deg,
    #61ffe3 6.15%,
    rgb(65 55 72 / 42%) 96.39%,
    rgb(72 55 71 / 42%) 96.39%
  );
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 20px 0;
}

.winner:nth-child(3) {
  background: linear-gradient(149.04deg, #ef6969 1.54%, rgb(72 55 66 / 53%) 98.15%);
}

.winner-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 2px solid var(--fg-0);
  background-color: var(--fg-0);
}

.winner:nth-child(2) .winner-avatar {
  width: 120px;
  height: 120px;
}

.winner-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.user-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--fg-0);
}

.winner-name {
  font-size: 20px;
  font-weight: 700;
}

.user-id {
  color: var(--fg-1);
  font-weight: 600;
  font-size: 13px;
}

.winner-report {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-avatar {
  width: 44px;
  height: 44px;
  border: 1px solid var(--fg-0);
  background-color: var(--fg-0);
  border-radius: 38px;
}

.user-box {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #2a3143 0, rgb(66 98 67/ 10%) 90%);
  border-radius: 50px;
  padding: 10px 30px;
  border: 1px solid #60657d33;
}

.report-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-item--user {
  align-items: start;
  width: 34px;
}

.report-separator {
  width: 1px;
  background-color: var(--fg-muted);
  height: 34px;
}

.report-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: var(--fg-1);
}

.report-value {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--fg-0);
}

.usages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.usage-box {
  display: flex;
  align-items: center;
  padding: 24px 32px;
  position: relative;
  background-color: #313744;
}

.usage-box::before {
  content: ' ';
  width: calc(100% - 40px);
  height: 100%;
  left: 20px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 20px 25px rgb(0 0 0 / 20%);
  z-index: -1;
}

.winner-rank {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--bg);
  height: 54px;
  width: 54px;
  align-items: center;
  justify-content: center;
}

.usage-avatar {
  background-color: #fff;
  border-radius: 200px;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-fit: cover;
  z-index: 2;
}

.user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-rank {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: var(--fg-0);
  width: 3ch;
}

.user-diff {
  display: flex;
  align-items: center;
  gap: 2px;
}

.diff-icon {
  display: flex;
  align-items: center;
}

.diff-text {
  font-weight: 600;
  font-size: 17px;
  color: var(--fg-0);
}

.user-chart {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.user-chart-item {
  margin: 0 32px;
}

.user-chart-detail {
  font-size: 1rem;
  color: #d4dded80;
  font-weight: 600;
}

.user-chart-time {
  font-size: 1.25rem;
  margin-top: 5px;
  font-weight: 600;
  color: #e8ecf3;
}

.user-chart-status {
  width: 15px;
  margin-left: 7px;
}

.report-separator--user {
  margin: 0 20px;
}

.social-media {
  font-size: 1.3em;
  color: var(--primary);
  font-weight: 700;
}
