<div>
  <% for (let i = 0; i < 4 - usage.rank; i++) { %>
    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8.96211 2.58999C9.13497 2.23978 9.22141 2.06468 9.33874 2.00874C9.44083 1.96006 9.55944 1.96006 9.66153 2.00874C9.77886 2.06468 9.86529 2.23978 10.0382 2.58999L11.6782 5.91246C11.7292 6.01585 11.7547 6.06755 11.792 6.10768C11.825 6.14322 11.8646 6.17201 11.9086 6.19247C11.9583 6.21557 12.0153 6.2239 12.1294 6.24058L15.7979 6.77678C16.1842 6.83324 16.3773 6.86148 16.4667 6.95583C16.5445 7.03792 16.5811 7.15072 16.5663 7.26283C16.5492 7.39168 16.4094 7.52788 16.1297 7.80029L13.4762 10.3848C13.3935 10.4654 13.3521 10.5057 13.3254 10.5536C13.3018 10.596 13.2867 10.6427 13.2808 10.6909C13.2742 10.7453 13.284 10.8022 13.3035 10.9161L13.9296 14.5666C13.9956 14.9516 14.0286 15.1441 13.9666 15.2584C13.9126 15.3578 13.8166 15.4275 13.7054 15.4481C13.5776 15.4718 13.4047 15.3809 13.059 15.1991L9.77941 13.4744C9.67722 13.4206 9.62613 13.3938 9.5723 13.3832C9.52465 13.3739 9.47562 13.3739 9.42797 13.3832C9.37414 13.3938 9.32305 13.4206 9.22086 13.4744L5.94131 15.1991C5.59556 15.3809 5.42268 15.4718 5.29485 15.4481C5.18363 15.4275 5.08766 15.3578 5.03368 15.2584C4.97162 15.1441 5.00464 14.9516 5.07068 14.5666L5.69679 10.9161C5.71631 10.8022 5.72607 10.7453 5.71946 10.6909C5.71361 10.6427 5.69846 10.596 5.67483 10.5536C5.64814 10.5057 5.60678 10.4654 5.52406 10.3848L2.87054 7.80029C2.59087 7.52788 2.45103 7.39168 2.43402 7.26283C2.41921 7.15072 2.45579 7.03792 2.53356 6.95583C2.62295 6.86148 2.8161 6.83324 3.2024 6.77678L6.87086 6.24058C6.98494 6.2239 7.04198 6.21557 7.09166 6.19247C7.13564 6.17201 7.17524 6.14322 7.20826 6.10768C7.24555 6.06755 7.27107 6.01585 7.3221 5.91246L8.96211 2.58999Z"
        fill="var(--primary)" stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <% } %>
</div>
