<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>WakaTime LeaderBoard</title>
  <link rel="stylesheet" href="css/css-reset.css" />
  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <hr style="display: none" id="data" />

  <div class="container">
    <div class="logo-container">
      <%- include('partials/logo.ejs'); %>
      <p id="date" class="date"><%= title %></p>
    </div>
    <div class="winners">
      <% usages.forEach(function (usage) { %>
      <%- include('partials/user.ejs', { usage }); %>
      <% }); %>
    </div>

    <div class="social-media">
      <% contactList.forEach(function (item) { %>
      <%- include('partials/social-media.ejs', { item }); %>
      <% }); %>
    </div>
</body>

</html>
