:root {
  --tint-1: #d4dded;
}

body {
  background-color: #313744;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Rajdhani', serif;
  padding-top: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fullstacks-logo {
  width: 400px;
  height: 180px;
}

.date {
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.winners {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.winner-box {
  display: flex;
  align-items: center;
  padding: 24px 32px;
  position: relative;
  background-color: #313744;
}

.winner-box::before {
  content: ' ';
  width: calc(100% - 40px);
  height: 100%;
  left: 20px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 20px 25px rgb(0 0 0 / 20%);
  z-index: -1;
}

.winner-rank {
  font-weight: 700;
  color: #d4dded1a;
  font-size: 4rem;
  position: absolute;
}

.winner-avatar {
  border-radius: 200px;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-fit: cover;
  z-index: 2;
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.user-name {
  font-weight: 400;
  color: #f8f9fb;
  font-size: 1.2rem;
}

.user-id {
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}

.user-chart {
  display: flex;
  flex: 1;
  justify-content: end;
}

.user-chart-item {
  margin: 0 32px;
}

.user-chart-detail {
  font-size: 1rem;
  color: #d4dded80;
  font-weight: 600;
}

.user-chart-time {
  font-size: 1.25rem;
  margin-top: 5px;
  font-weight: 600;
  color: #e8ecf3;
}

.user-chart-status {
  width: 15px;
  margin-left: 7px;
}

.separator {
  display: flex;
  width: 100%;
  margin-left: 80px;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 43px;
}

.social-media-item {
  margin: 16px 40px 0;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #d4dded33;
}

.social-media-item-icon {
  max-width: 100%;
  margin-right: 12px;
  fill: var(--tint-1);
}
